// -----------------------------------------------------------------------------
// Charts
// -----------------------------------------------------------------------------

// Containers
// -----------------------------------------------------------------------------

// SVG root element
.chart {
    user-select: none;
    fill: currentcolor;

    text {
        font-family: $font-family-sans-serif;
    }

    &.-download {
        display: none;
    }
}

.chart-background {
    fill: $color-white;
}

// Axis tick and axis line.
.axis .tick line,
.axis path,
.domain {
    stroke-width: 1.5;
    stroke: #646d66;
    stroke-opacity: .3;
    shape-rendering: crispEdges;
}

.-rotated {
    display: none;
}

.domain {
    fill: none;
}

// Data line on the chart
.line {
    fill: none;
    stroke: #00AAFF;
    stroke-width: 2;
}

.area {
    fill: azure;
}

.bar rect {
    fill: crimson;
}

.ticks-overlay .tick,
.line-overlay .interact {
    stroke: #646d66;
    stroke-opacity: .1;
    stroke-width: 30;
    stroke-linecap: round;
}

.cursor {
    fill: blue;
}

.cursor-line .tick {
    stroke-width: 1.5;
    stroke: blue;
    shape-rendering: crispEdges;
}
